@import './src/styles/variables';

.header {
  width: 100%;
  background: #1d508d;
  overflow: visible;
  height: 55px;
  left: 0;
  right: auto;

  .logo {
    float: left;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    font-family: $covered;
    font-size: 2.3em;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;

    &:before {
      content: "Geniuz";
    }
  }

  .nav-container {
    float: left;
    list-style: none;
    margin: 0;

    li {
      float: left;
      margin-right: 10px;

      a {
        vertical-align: top;
        display: inline-block;
        color: $main_menu_primary;
        text-decoration: none;
        font-size: 0.92857rem;
        padding: 21px 4px 18px;
        text-transform: uppercase;
      }
    }

    .route--active {
      font-weight: bold;
      color: $white;
    }
  }
}
